{% extends 'base.html' %}
{% load static %}

{% block title %}Tech Kaushalya | Day 2 Events{% endblock title %}

{% block style %}
    {{ block.super }}
    .overlay-text {
        /* horizontal alignment of text and element */
        width: 100%;
        /* vertical alignment of text */
        height: 2em;
        line-height: 2em;
        /* vertical alignment of element */
        top: 50%;
        margin-top: -1em;
    }
{% endblock style %}

{% block content %}
{% include 'pages/hero.html' %}
<hr class="m-3">
<div class="container text-center">
    <section id="tech-events" class="mb-4">
        <h2 class="mb-3">Technical Events</h2>
        <div class="row px-3">
            <div class="col-12 col-md-4 mb-2">
                <div class="card justify-content-between border-secondary h-100">
                    <div id="event_img_txt_wrapper" class="position-relative">
                        <img src="{% static 'images/events/d2-tech-quickrelay.jpeg' %}" class="card-img-top" style="filter: brightness(40%);">
                        <h3 class="overlay-text position-absolute text-light">Quick Relay</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-outline-primary w-100">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card justify-content-between border-secondary h-100">
                    <div id="event_img_txt_wrapper" class="position-relative">
                        <img src="{% static 'images/events/d2-tech-blindcoding.jpg' %}" class="card-img-top" style="filter: brightness(40%);">
                        <h3 class="overlay-text position-absolute text-light">Blind Coding</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-outline-primary w-100">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card justify-content-between border-secondary h-100">
                    <div id="event_img_txt_wrapper" class="position-relative">
                        <img src="{% static 'images/events/d2-tech-webomania.jpg' %}" class="card-img-top" style="filter: brightness(40%);">
                        <h3 class="overlay-text position-absolute text-light">Web-O-Mania</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-outline-primary w-100">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="non-tech-events" class="mb-4">
        <h2 class="mb-3">Non-Technical Events</h2>
        <div class="row px-3">
            <div class="col-12 col-md-4 mb-2">
                <div class="card justify-content-between border-secondary h-100">
                    <div id="event_img_txt_wrapper" class="position-relative">
                        <img src="{% static 'images/events/d2-nontech-football.jpg' %}" class="card-img-top" style="filter: brightness(40%);">
                        <h3 class="overlay-text position-absolute text-light">Football</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-outline-primary w-100">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card justify-content-between border-secondary h-100">
                    <div id="event_img_txt_wrapper" class="position-relative">
                        <img src="{% static 'images/events/d2-nontech-tugofwar.jpg' %}" class="card-img-top" style="filter: brightness(40%);">
                        <h3 class="overlay-text position-absolute text-light">Tug of War</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-outline-primary w-100">Register</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 mb-2">
                <div class="card justify-content-between border-secondary h-100">
                    <div id="event_img_txt_wrapper" class="position-relative">
                        <img src="{% static 'images/events/d2-nontech-begborrowsteal.jpg' %}" class="card-img-top" style="filter: brightness(40%);">
                        <h3 class="overlay-text position-absolute text-light">Beg, Borrow & Steal</h3>
                    </div>
                    <div class="card-body">
                        <a href="#" class="btn btn-outline-primary w-100">Register</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<hr class="m-3">
{% endblock content %}
