{% extends 'base.html' %}
{% load static %}

{% block title %}Tech Kaushalya | Home{% endblock title %}

{% block style %}
    {{ block.super }}
    {% verbatim style %}
    .slick-prev::before, .slick-next::before {
        color: var(--primary) !important;
    }
    .slick-dots li button::before {
        color: var(--primary) !important;
        opacity: .5 !important;
    }
    .slick-dots li.slick-active button::before {
        opacity: 1 !important;
    }
    .portrait-img {
        max-height: 150px;
        max-width: 150px;
        border-width: 2px !important;
    }
    {% endverbatim style %}
{% endblock style %}

{% block head_extra %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js" integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="{% static 'js/slick_carousel_script.js' %}" charset="utf-8" defer></script>
{% endblock head_extra %}

{% block message %}
    {% include 'messages_modal.html' %}
{% endblock message %}

{% block content %}
{% include 'pages/hero.html' %}
<hr class="m-3">
<div class="container text-center">
    <section id="events" class="mb-4">
        <h2 class="mb-3">Check out the event schedules!</h2>
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4 mb-2">
                <div class="card border-secondary h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h4 class="card-title">Day 1 - Monday, 20th March</h3>
                        <a href="{% url 'schedule' 1 %}" class="btn btn-primary">Check Schedule</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-2">
                <div class="card border-secondary h-100">
                    <div class="card-body d-flex flex-column justify-content-between">
                        <h4 class="card-title">Day 2 - Tuesday, 21st March</h3>
                        <a href="{% url 'schedule' 2 %}" class="btn btn-primary">Check Schedule</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="sponsors" class="mb-4">
        <h2 class="mb-3">
            Sponsored by
            <br>
            <small class="h6 text-danger">sponsors show below are only for reference.</small>
        </h2>
        <div class="row justify-content-between">
            <div class="col-xs-12 col-md-3 mb-2">
                <img src="{% static 'images/sponsor_logos/apple.png' %}" style="height: 100px; width: 100px;">
            </div>
            <div class="col-xs-12 col-md-3 mb-2">
                <img src="{% static 'images/sponsor_logos/meta.png' %}" style="height: 100px; width: 151px;">
            </div>
            <div class="col-xs-12 col-md-3 mb-2">
                <img src="{% static 'images/sponsor_logos/microsoft.png' %}" style="height: 100px; width: 100px;">
            </div>
        </div>
    </section>
    <section id="tk-2020" class="mb-5">
        <h2 class="mb-3">Memories from Tech Kaushalya 2020!</h2>
        <div class="row slider">
            <img src="{% static 'images/tk_2020_pics/carousel-1.jpeg' %}" class="col-sm-12 col-md-6 col-lg-3 p-2">
            <img src="{% static 'images/tk_2020_pics/carousel-2.jpeg' %}" class="col-sm-12 col-md-6 col-lg-3 p-2">
            <img src="{% static 'images/tk_2020_pics/carousel-3.jpeg' %}" class="col-sm-12 col-md-6 col-lg-3 p-2">
            <img src="{% static 'images/tk_2020_pics/carousel-4.jpeg' %}" class="col-sm-12 col-md-6 col-lg-3 p-2">
            <img src="{% static 'images/tk_2020_pics/carousel-5.jpeg' %}" class="col-sm-12 col-md-6 col-lg-3 p-2">
            <img src="{% static 'images/tk_2020_pics/carousel-6.jpeg' %}" class="col-sm-12 col-md-6 col-lg-3 p-2">
            <img src="{% static 'images/tk_2020_pics/carousel-7.jpeg' %}" class="col-sm-12 col-md-6 col-lg-3 p-2">
            <img src="{% static 'images/tk_2020_pics/carousel-8.jpeg' %}" class="col-sm-12 col-md-6 col-lg-3 p-2">
        </div>
    </section>
    <section id="organizers">
        <h2 class="mb-3">Meet the Organizers!</h2>
        <div class="row align-items-baseline justify-content-center align-items-stretch">
            <div class="col-6 col-lg-3 py-2 d-flex flex-column justify-content-between align-items-center">
                <img src="{% static 'images/organizers/portrait-1.jpg' %}" class="portrait-img border border-secondary rounded-circle">
                <h4 class="mt-2 mb-0">
                    Parth Sharda
                    <br>
                    <a href="tel:+919328382629" class="h6">+91 93283 82629</a>
                </h4>
            </div>
            <div class="col-6 col-lg-3 py-2 d-flex flex-column justify-content-between align-items-center">
                <img src="{% static 'images/organizers/portrait-2.png' %}" class="portrait-img border border-secondary rounded-circle">
                <h4 class="mt-2 mb-0">
                    Ruchit Prajapati
                    <br>
                    <a href="tel:+919512685134" class="h6">+91 95126 85134</a>
                </h4>
            </div>
            <div class="col-6 col-lg-3 py-2 d-flex flex-column justify-content-between align-items-center">
                <img src="{% static 'images/organizers/portrait-3.jpg' %}" class="portrait-img border border-secondary rounded-circle">
                <h4 class="mt-2 mb-0">
                    Nisarg Mistry
                    <br>
                    <a href="tel:+918320783266" class="h6">+91 83207 83266</a>
                </h4>
            </div>
            <div class="col-6 col-lg-3 py-2 d-flex flex-column justify-content-between align-items-center">
                <img src="{% static 'images/organizers/portrait-4.jpg' %}" class="portrait-img border border-secondary rounded-circle">
                <h4 class="mt-2 mb-0">
                    Parth Makwana
                    <br>
                    <a href="tel:+917048871495" class="h6">+91 70488 71495</a>
                </h4>
            </div>
        </div>
    </section>
</div>
<hr class="m-3">
{% endblock content %}
