{% extends 'base.html' %}
{% load static %}

{% block title %}Tech Kaushalya | Rulebook{% endblock title %}

{% block message %}
    {% include 'messages_modal.html' %}
{% endblock message %}

{% block content %}
<hr class="m-3">
    <div class="container-fluid text-center">
        <embed id="rulebook-pdf" src="{% static 'test_pdf.pdf' %}#view=FitV" style="width: 100%; min-height: 100vh;" type="application/pdf">
            Error failed to display PDF.
        </embed>
    </div>
<hr class="m-3">
{% endblock content %}
