{% load static %}
<style id="navbar-style">
    /* changing nav active color to primary */
    .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
        color: var(--primary);
        opacity: .9
    }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">
    <img src="{% static 'images/tk-logo.png' %}" alt="tk logo" height="54.5" width="44.5" class="mr-2">
    <span class="h4 m-0 align-middle"><span class="text-primary">T</span>ech <span class="text-primary">K</span>aushalya</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
            <span class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Schedule
            </span>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="{% url 'day1' %}">Day 1</a>
                <a class="dropdown-item" href="{% url 'day2' %}">Day 2</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Feedback</a>
        </li>
    </ul>
  </div>
</nav>
<script id="navbar-script" type="text/javascript">
    // highlighting current url as active in navbar and dropdown
    document.addEventListener('DOMContentLoaded', (event) => {
        let active_path = window.location.pathname;
        let nav_items = document.querySelectorAll('.navbar>.navbar-collapse .nav-item');
        for (nav_item of nav_items) {
            // clearing active dropdown-items
            if (nav_item.classList.contains('dropdown')) {
                let nav_item_dropdown_items = nav_item.querySelectorAll('.dropdown-menu>.dropdown-item');
                for (dropdown_item of nav_item_dropdown_items) {
                    dropdown_item.classList.remove('active');
                }
            }
            // finding nav-item with active_path and setting nav-item as active
            // clearing other active nav-items
            let link_element = nav_item.querySelector(`[href="${active_path}"]`);
            console.log(link_element);
            if (link_element) {
                nav_item.classList.add('active');
                if (link_element.classList.contains('dropdown-item')) {
                    link_element.classList.add('active');
                }
            }
            else {
                nav_item.classList.remove('active');
            }
        }
    });
</script>
