<div class="modal fade" id="cancel-modal" tabindex="-1" role="dialog" aria-labelledby="cancel-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Cancelation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel registration?
                <br>
                All data will be lost.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-danger" value="Cancel" name="cancel"/>
            </div>
        </div>
    </div>
</div>
<script id="cancel-modal-script" type="text/javascript">
    document.addEventListener('DOMContentLoaded', (event) => {
        modal = $('#cancel-modal');
        form = document.getElementById('registration-form');
        modal.on('show.bs.modal', (event) => {
            form.setAttribute('novalidate', 'novalidate');
        });
        modal.on('hide.bs.modal', (event) => {
            form.removeAttribute('novalidate');
        });
    });
</script>
