<div class="form-group">
    <label for="member-name-input">Member name <span class="text-danger">*</span></label>
    <input id="member-name-input" type="text" name="{% if member_no %}member{{ member_no }}_{% endif %}member_name" value="{% if member_no %}{{ member_form.member_name }}{% else %}{{ form.member_name }}{% endif %}" class="form-control" placeholder="Enter name" {% if optional %}disabled{% else %}required{% endif %} />
</div>
<div class="form-group">
    <label for="email-input">Email <span class="text-danger">*</span></label>
    <input id="email-input" type="email" name="{% if member_no %}member{{ member_no }}_{% endif %}email" value="{% if member_no %}{{ member_form.email }}{% else %}{{ form.email }}{% endif %}" class="form-control" placeholder="person@example.com" pattern="^[\w\.\+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\.\-]+$" title="Please enter a valid email" {% if optional %}disabled{% else %}required{% endif %} />
</div>
<div class="form-group">
    <label for="mobile-input">Mobile number <span class="text-danger">*</span></label>
    <input id="mobile-input" type="text" name="{% if member_no %}member{{ member_no }}_{% endif %}mobile" value="{% if member_no %}{{ member_form.mobile }}{% else %}{{ form.mobile }}{% endif %}" class="form-control" placeholder="Enter mobile number" pattern="^[6-9]\d{9}$" title="Please enter a valid Indian phone number" {% if optional %}disabled{% else %}required{% endif %} />
</div>
<div class="form-group form-row">
    <div class="col">
        <label for="university-input">University/College name <span class="text-danger">*</span></label>
        <input id="university-input" type="text" name="{% if member_no %}member{{ member_no }}_{% endif %}university_name" value="{% if member_no %}{{ member_form.university_name }}{% else %}{{ form.university_name }}{% endif %}" class="form-control" placeholder="Enter univeristy or college name" {% if optional %}disabled{% else %}required{% endif %}/>
    </div>
    <div class="col">
        <label for="course-name">Course name <span class="text-danger">*</span></label>
        <input id="course-name" type="text" name="{% if member_no %}member{{ member_no }}_{% endif %}course_name" value="{% if member_no %}{{ member_form.course_name }}{% else %}{{ form.course_name }}{% endif %}" class="form-control" placeholder="Enter course name" {% if optional %}disabled{% else %}required{% endif %} />
    </div>
</div>
<div class="form-group">
    <label for="address-input">Address <span class="text-danger">*</span></label>
    <input id="address-input" type="text" name="{% if member_no %}member{{ member_no }}_{% endif %}address" value="{% if member_no %}{{ member_form.address }}{% else %}{{ form.address }}{% endif %}" class="form-control" placeholder="Enter address" {% if optional %}disabled{% else %}required{% endif %} />
</div>
