{% extends 'forms/base_form.html' %}

{% block title %}Tech Kaushalya | Registration{% endblock title %}

{% block form_title %}
{{ event.event_name|title }} Registration
{% endblock form_title %}

{% block form %}
<form id="registration-form" method="post">
    {% csrf_token %}
    <!-- cancel modal - included here to submit form -->
    {% include 'forms/cancel_modal.html' %}
    {% with current_member_no=members|length|add:1 %}
    <h5 class="mb-3">Team Member {{ current_member_no }}{% if current_member_no == 1 %} (You){% endif %}</h5>
    <div class="form-group">
        <label for="member-name-input">Member name:</label>
        <input id="member-name-input" type="text" name="member_name" value="{{ form.member_name }}" class="form-control" placeholder="Enter name" required />
    </div>
    <div class="form-group">
        <label for="email-input">Email:</label>
        <input id="email-input" type="email" name="email" value="{{ form.email }}" class="form-control" placeholder="person@example.com" pattern="^[\w\.\+\-]+@[a-zA-Z0-9\-]+\.[a-zA-Z0-9\.\-]+$" title="Please enter a valid email" required />
    </div>
    <div class="form-group">
        <label for="mobile-input">Mobile number:</label>
        <input id="mobile-input" type="text" name="mobile" value="{{ form.mobile }}" class="form-control" placeholder="Enter mobile number" pattern="^[6-9]\d{9}$" title="Please enter a valid Indian phone number" required />
    </div>
     <!-- cancel button - shows cancel modal -->
    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#cancel-modal">Cancel</button>
    {% if current_member_no < event.max_team_members %}
    <!-- if not last member -->
    <input type="submit" class="btn btn-primary" value="Add Member" name="add"/>
    {% endif %}
    {% if current_member_no >= event.min_team_members %}
    <!-- if min_member or more -->
    <input type="submit" class="btn btn-success" value="Save and Exit" name="save"/>
    {% endif %}
    {% endwith %}
</form>
{% endblock form %}

{% block item_table %}
{% if members %}
<table class="table table-bordered rounded" style="borded-collapse: separate; border-spacing: 0;">
  <thead>
    <tr>
        <th scope="col">Sr. No.</th>
        <th scope="col">Member name</th>
        <th scope="col">Email</th>
        <th scope="col">Mobile number</th>
    </tr>
  </thead>
  <tbody>
        {% for member in members %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td class="text-capitalize">{{ member.member_name }}</td>
            <td>{{ member.email }}</td>
            <td>{{ member.mobile }}</td>
        </tr>
        {% endfor %}
  </tbody>
</table>
{% endif %}
{% endblock item_table %}
