{% extends 'forms/registration_base.html' %}
{% load get %}

{% block title %}Tech Kaushalya | Registration{% endblock title %}

{% block form_title %}
{{ event.event_name|title }} Registration
{% endblock form_title %}

{% block style %}
{{ block.super }}
.card-header.disabled {
    color: var(--secondary);
    background-color: var(--white);
}
.toggle-button {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    padding: 0;
    text-align: left;
}
{% endblock style %}

{% block form %}
<form id="registration-form" method="post" novalidate>
    {% csrf_token %}
    <div class="mb-3">
        {% for member_no in required_member_nos %}
        {% with member_form=form|get:member_no %}
        <div class="card">
            <button class="toggle-button btn invisible border-0" type="button" data-toggle="collapse" data-target="#member-form-{{ member_no }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="member-form-{{ member_no }}">
                <div id="member-header-{{ member_no }}" class="card-header visible">
                    Team Member {{ member_no }}{% if forloop.first %} (You){% endif %}
                    <i class="toggle-icon float-right bi-{% if forloop.first %}dash{% else %}plus{% endif %}-lg"></i>
                </div>
            </button>
            <div id="member-form-{{ member_no }}" class="member-form card-body collapse {% if forloop.first %}show{% endif %}" data-member-no="{{ member_no }}">
                {% include 'forms/member_form.html' %}
            </div>
        </div>
        {% endwith %}
        {% endfor %}
        {% for member_no in optional_member_nos %}
        {% with member_form=form|get:member_no %}
        <div class="card">
            <button class="toggle-button btn invisible border-0" type="button" data-target="#member-form-{{ member_no }}" aria-expanded="false" aria-controls="member-form-{{ member_no }}">
                <div id="member-header-{{ member_no }}" class="disabled card-header visible">
                    Team Member {{ member_no }} (optional)
                    <i class="toggle-icon float-right bi-plus-lg"></i>
                </div>
            </button>
            <div id="member-form-{{ member_no }}" class="member-form card-body collapse" data-member-no="{{ member_no }}">
                {% with optional=True  %}
                {% include 'forms/member_form.html' %}
                {% endwith %}
                <button class="cancel-member btn btn-danger" type="button" data-toggle="collapse" data-target="#member-form-{{ member_no }}" aria-expanded="false" aria-controls="member-form-{{ member_no }}">Cancel member</button>
            </div>
        </div>
        {% endwith %}
        {% endfor %}
    </div>
    <a href="{% url 'schedule' event.event_day_num %}" class="btn btn-danger">Cancel</a>
    <input type="submit" class="btn btn-success" value="Register Members"/>
</form>
{% endblock form %}

{% block script %}
    {{ block.super }}
    {% verbatim javascript %}
    // toggle between expand and collapse icons
    member_forms = $('.collapse.member-form');

    function toggle_icon_handler(event) {
        let member_form = event.target;
        let member_no = member_form.dataset.memberNo;
        let toggle_icon = document.querySelector(`#member-header-${member_no}>.toggle-icon`);
        if (toggle_icon) {
            if (toggle_icon.classList.contains('bi-plus-lg')) {
                toggle_icon.classList.replace('bi-plus-lg', 'bi-dash-lg')
            }
            else {
                toggle_icon.classList.replace('bi-dash-lg', 'bi-plus-lg')
            }
        }
    }
    member_forms.on('shown.bs.collapse', toggle_icon_handler);
    member_forms.on('hidden.bs.collapse', toggle_icon_handler);

    // handle disabled member
    function prepare_next_disabled_header(current_disabled_header = undefined) {
        if (typeof current_disabled_header === 'undefined') {
            current_disabled_header = document.querySelector('.card-header.disabled');
        }
        if (current_disabled_header) {
            current_disabled_header.onclick = disabled_click_handler;
        }
    }
    prepare_next_disabled_header();

    function disabled_click_handler(event) {
        let target = event.target;
        let header = target;

        if (target.tagName == 'I') {
            header = target.parentElement;
        }

        if (empty_fields()) {
            window.alert('Please complete current members before adding additional members.');
            return;
        }
        enable_member(header);
    }

    function empty_fields() {
        let registration_form_inputs = document.querySelectorAll('#registration-form input:not(:disabled)');
        let has_empty_fields = false;
        for (let input of registration_form_inputs) {
            let is_empty = input.validity.valueMissing;
            if (is_empty) {
                input.classList.add('is-invalid');
                has_empty_fields = true;
            }
            else {
                input.classList.remove('is-invalid');
            }
        }
        return has_empty_fields;
    }

    function enable_member(header) {
        let toggle_button = header.parentElement;
        toggle_button.dataset.toggle = 'collapse';
        header.classList.remove('disabled');
        header.onclick = null;
        prepare_next_disabled_header();
        enable_inputs(toggle_button.dataset.target.substr(1));
    }

    function enable_inputs(member_form_id) {
        let member_form_inputs = document.querySelectorAll(`#${member_form_id} input`);
        for (let member_form_input of member_form_inputs) {
            member_form_input.removeAttribute('disabled');
            member_form_input.setAttribute('required', '');
        }
    }

    // handle enabled member cancel
    cancel_member_buttons = document.querySelectorAll('.cancel-member');
    cancel_member_buttons.forEach((cancel_member_button) => {
        cancel_member_button.onclick = disable_member;
    });

    function disable_member(event) {
        let cancel_member_button = event.target;
        let toggle_button = cancel_member_button.parentElement.previousElementSibling;
        let header = toggle_button.firstElementChild;
        toggle_button.dataset.toggle = '';
        header.classList.add('disabled');
        prepare_next_disabled_header(header);
        disable_inputs(toggle_button.dataset.target.substr(1));
    }

    function disable_inputs(member_form_id) {
        let member_form_inputs = document.querySelectorAll(`#${member_form_id} input`);
        for (let member_form_input of member_form_inputs) {
            member_form_input.setAttribute('disabled', '');
            member_form_input.removeAttribute('required');
        }
    }
    {% endverbatim javascript %}
{% endblock script %}
