{% extends 'forms/registration_base.html' %}
{% load static %}
{% load get %}

{% block title %}Tech Kaushalya | Registration{% endblock title %}

{% block form_title %}
{{ event.event_name|title }} Registration
{% endblock form_title %}

{% block style %}
    {{ block.super }}
    {% verbatim style %}
    .card-header.disabled {
        color: var(--secondary);
        background-color: var(--white);
    }
    .toggle-button {
        font-weight: inherit;
        font-size: inherit;
        line-height: inherit;
        padding: 0;
        text-align: left;
    }
    .selection-drag-disabled {
        user-drag: none;
        -webkit-user-drag: none;
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
    }
    #upi-id-badge {
        /* horizontal alignment of element */
        left: 0;
        right: 0;
        width: fit-content;
        margin: 0 auto;
        /* vertical alignment of element */
        top: 50%;
        margin-top: -20px;
        /* selection enabled */
        user-select: text;
        -ms-user-select: text;
        -moz-user-select: text;
        -khtml-user-select: text;
        -webkit-user-select: text;
        -o-user-select: text;
        /* shadow */
        box-shadow: 0px 10px 15px -2px rgba(0,0,0,0.5);
    }
    {% endverbatim style %}
{% endblock style %}

{% block head_extra %}
    {{ block.super }}
    <script src="{% static 'js/team_registration_script.js' %}" charset="utf-8" defer></script>
{% endblock head_extra %}

{% block form %}
<form id="registration-form" method="post">
    {% csrf_token %}
    <fieldset>
        <legend class="text-center h4">Member details</legend>
        <div id="members-details">
            {% for member_no in required_member_nos %}
            {% with member_form=form|get:member_no %}
            <div class="card">
                <button class="toggle-button btn invisible border-0" type="button" data-toggle="collapse" data-target="#member-form-{{ member_no }}" aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}" aria-controls="member-form-{{ member_no }}">
                    <div id="member-header-{{ member_no }}" class="card-header visible">
                        Team Member {{ member_no }}{% if forloop.first %} (You){% endif %}
                        <i class="toggle-icon float-right bi-{% if forloop.first %}dash{% else %}plus{% endif %}-lg"></i>
                    </div>
                </button>
                <div id="member-form-{{ member_no }}" class="member-form card-body collapse {% if forloop.first %}show{% endif %}" data-member-no="{{ member_no }}">
                    {% include 'forms/member_form.html' %}
                </div>
            </div>
            {% endwith %}
            {% endfor %}
            {% for member_no in optional_member_nos %}
            {% with member_form=form|get:member_no %}
            <div class="card">
                <button class="toggle-button btn invisible border-0" type="button" data-target="#member-form-{{ member_no }}" aria-expanded="false" aria-controls="member-form-{{ member_no }}">
                    <div id="member-header-{{ member_no }}" class="disabled card-header visible">
                        Team Member {{ member_no }} (optional)
                        <i class="toggle-icon float-right bi-plus-lg"></i>
                    </div>
                </button>
                <div id="member-form-{{ member_no }}" class="member-form card-body collapse" data-member-no="{{ member_no }}">
                    {% with optional=True  %}
                    {% include 'forms/member_form.html' %}
                    {% endwith %}
                    <button class="cancel-member btn btn-danger" type="button" data-toggle="collapse" data-target="#member-form-{{ member_no }}" aria-expanded="false" aria-controls="member-form-{{ member_no }}">Cancel member</button>
                </div>
            </div>
            {% endwith %}
            {% endfor %}
        </div>
    </fieldset>
    <hr class="m-3">
    <fieldset class="mb-3">
        <legend class="text-center h4">Payment details</legend>
        <div class="d-flex flex-column justify-content-between align-items-center">
            <div class="selection-drag-disabled position-relative my-2">
                <img class="selection-drag-disabled w-100" src="{% static 'images/upi-qr.jpg' %}" style="max-width: 450px; max-height: 450px">
                <span id="upi-id-badge" class="position-absolute badge badge-pill badge-success py-2 px-3" style="font-size: 1rem; cursor: pointer;">
                    nisargmistry608@okicici<i class="bi-clipboard ml-2"></i>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label for="upi-reference-number-input">UPI reference number <span class="text-danger">*</span></label>
            <input id="upi-reference-number-input" type="text" name="upi_reference_number" value="{{ form.upi_reference_number }}" class="form-control" placeholder="Enter UPI reference number" pattern="^\d{12}$" title="UPI reference number must be a 12 digit number" required />
        </div>
    </fieldset>
    <a href="{% url 'schedule' event.event_day_num %}" class="btn btn-danger">Cancel</a>
    <input type="submit" class="btn btn-success" value="Register Members"/>
</form>
{% endblock form %}

{% block inline_script %}
    {{ block.super }}
    {% verbatim javascript %}
    upi_id_badge = document.getElementById('upi-id-badge');
    upi_id_badge.onclick = copy_to_clipboard
    function copy_to_clipboard(event) {
        console.log('copied');
        navigator.clipboard.writeText('nisargmistry608@okicici');
        window.alert('UPI id copied.');
    }
    {% endverbatim javascript %}
{% endblock inline_script %}
